form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 400px;
    height: 300px;
  }
  .form-label, .form-control {
    font-size: 20px;
}

@media (max-width: 250px) {
  form {
    height: 350px;
  }

}



img {
    display: block;
    margin: auto;
    width: 20%;
    height: 20%;
}